html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 25% 45% 30%;
  grid-template-areas: 'aside main asidebar';
  margin: 0;
  width: 100%;
  height: 100vh;
}

img {
  border-radius: 5px;
}

aside {
  grid-area: aside;
  margin-left: 15px;
}

aside h3 {
  color: #333;
}

aside input {
  width: 90%;
  padding: 7px 0 7px 3px;
  border-radius: 5px;
  border: 1px solid rgb(209, 210, 211);
  outline: none;
}

aside ul {
  list-style: none;
  padding: 0;

  li {
    padding: 5px;
    margin: 13px 0;
    cursor: pointer;
  }

  li:hover {
    background-color: rgb(203, 214, 237);
    width: 90%;
    border-radius: 5px;
  }

  li:active {
    font-weight: bold;
    background-color: rgb(180, 199, 240);
  }
}

main {
  grid-area: main;
  background-color: rgb(233, 235, 237);
  height: 100vh;
  box-shadow: -3px 0 6px -2px #939393, 3px 0 6px -2px #939393;

  .listHeader {
    display: flex;
    flex-direction: row;
    justify-content: end;

    li {
      padding-right: 9px;
      opacity: 0.6;
    }

    li:last-child {
      padding-top: 3px;
    }

    li:hover {
      cursor: pointer;
      opacity: 0.4;
    }
  }

  .toggle {
    display: none;
  }

  #audioContainer {
    svg {
      padding-right: 9px;
    }

    svg:hover {
      transform: scale(1.3);
      transition: transform 0.2s ease-in-out;
      color: green;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

    li {
      padding: 3px;
    }

    img {
      cursor: pointer;
      height: 20vh;
      width: 100px;
    }
  }
}

asidebar {
  grid-area: asidebar;
  padding: 20px;

  .color {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
  }

  .detailsColors {
    width: 100%;
    object-fit: cover;
  }
}

.detiales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: break-word;

  img {
    height: 50vh;
    width: 250px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1165px) {
  asidebar {
    .detiales {
      padding: auto;
      display: flex;
      justify-content: flex-start;

      img {
        width: 180px;
        height: 40vh;
      }
    }
  }

  main {
    max-height: 80vh;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 860px) {
  asidebar {
    .detiales {
      img {
        width: 120px;
        height: 20vh;
      }
    }
  }

  main {
    max-height: 60vh;
    overflow-y: scroll;
  }

  .contianer {
    min-width: 520px;
  }
}

/* lightBox style */
.lightBoxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  flex-direction: column;
  visibility: hidden;
}

.lightBoxImg {
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 8px;
  box-shadow: 0 0 30px #000;

}

.closeBtn {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #222;
  color: #fff;
}